<h1>Book detail</h1>

  <!--<p>投稿ユーザー画像：%= image_tag @book.user.get_profile_image(100,100) %></p>-->
  <!--<p>ユーザーネーム：%= @book.user.name %></p>-->
  <p><%= @book.title %></p>
  <p><%= @book.body %></p>

  <!--投稿者が現在ログインしているユーザだったら削除ボタン表示する-->
  <!--% if @post_image.user == current_user %>-->
    <!--%= link_to "Destroy", method: :delete %>-->
  <!--% end %>-->
